<!-- vim: set ft=html ts=2 sw=2 expandtab : -->
<h2>SQL details</h2>


<form id="sql-form" class=form-horizontal action="/show-sql" method="get" autocomplete=off>
  <div class=form-group>
    <label for=db-sel class="col-sm-1 ds-label">Data Set</label>
    <div class="col-sm-2">
      <select class=form-control id=ds-sel name=ds>
        <option value="{{ds}}">{{ds}}</option>
      </select>
    </div>
    <label for=db-sel class="col-sm-1 control-label">Database</label>
    <div class="col-sm-2">
      <select class=form-control id=db-sel name=db>
        <option value="{{db}}">{{db}}</option>
      </select>
    </div>
    <label for=inst-sel class="col-sm-1 control-label">Instance</label>
    <div class="col-sm-2">
      <select class=form-control id=inst-sel name=inst>
        <option value="{{inst}}">{{inst}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for=sql-id class="col-sm-1 control-label">SQL Id</label>
    <div class="col-sm-2">
      <input type="search" class="form-control" id=sql-id value="{{sqlid}}" name=sqlid placeholder="Search by SQL id...">
    </div>
    <div class="col-sm-offset-1 col-sm-5">
      <input type="search" class="form-control" id=search-text placeholder="Search by SQL text...">
    </div>
     
  </div>
</form>
<div id="sqlidlist" class="list-group"></div>
<div id="sqltextlist" class="list-group"></div>

<div class="clipboard show-on-sql hidden">
  <span id=copy-btn class="btn-clipboard btn-success" data-clipboard-target="#sql-text">Copy to clipboard</span>
</div>

<figure class="highlight show-on-sql hidden">
<pre>
  <code class="sql" id=sql-text></code>
</pre>
</figure>

<p><h3 class="show-on-sql hidden">SQL Impact</h3></p>

<div id=impact-chart>
</div>

<div class="show-on-sql hidden">
  <p>Reported SQL modules: <span id=sql-modules></span></p>
</div>

<script src="/modules/bootstrap-menu/BootstrapMenu.js"></script>
<script src="/modules/bootstrap-list-filter/bootstrap-list-filter.src.js"></script>
<script src="/modules/highlightjs/highlight.pack.js"></script>
<script src="/modules/clipboard/clipboard.js"></script>
<script src="/modules/d3/d3.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/modules/c3/c3.js" type="text/javascript"></script>
<script src="/public/js/show-sql.js"></script>
